.formContainer{
  @extend .container-center;
  margin: 10px; padding: 15px;
  color: $color-primary;
  background-color: $bg-color-primary;
  
  div{
    @extend .formContainer;
    margin: 10px; padding: 0;
    form{
      width: 90%;
      input{
        margin: 4px; padding: 5px;
        width: 100%;
      }
      label{
        font-size: large;
      }
      button{
        margin-top: 15px;
      }
    }
  }
}

#inputPhone{
  -webkit-appearance: none;
  -moz-appearance: textfield;
}